html{
    background-color: black;
    background-image: url(./Dark-cyan-teal-wallpaper-HD-768x432.jpg);
}
div{
    background-color: black;
    width: 50%;
    margin-left: 25%;
}
img{
    width: 100%;
    height: 50%;
    border: 3px solid yellow;
}
h1{
    color: white;
    text-align: center;
    font-family: 'Libre Baskerville', serif;
    text-transform: capitalize;
}
p{
    color: white;
    text-align: center;
}
